:root {
  /*
  /* FireTime Brand Colors set currently */
/* Generate others at: https://once-ui.com/customize */
--scheme-brand-100: #1d0000;
--scheme-brand-200: #370000;
--scheme-brand-300: #7f1400;
--scheme-brand-400: #a03700;
--scheme-brand-500: #c15700;
--scheme-brand-600: #e77923;
--scheme-brand-600-15: rgba(231,121,35,0.15);
--scheme-brand-600-30: rgba(231,121,35,0.3);
--scheme-brand-600-50: rgba(231,121,35,0.5);
--scheme-brand-700: #ff9c4e;
--scheme-brand-800: #ffce81;
--scheme-brand-900: #ffde91;
--scheme-brand-1000: #ffde91;
--scheme-brand-1100: #ffde91;
--scheme-brand-1200: #ffde91;

--scheme-accent-100: #1f0000;
--scheme-accent-200: #350000;
--scheme-accent-300: #880000;
--scheme-accent-400: #b70000;
--scheme-accent-500: #e3252e;
--scheme-accent-600: #ff5e5a;
--scheme-accent-600-15: rgba(255,94,90,0.15);
--scheme-accent-600-30: rgba(255,94,90,0.3);
--scheme-accent-600-50: rgba(255,94,90,0.5);
--scheme-accent-700: #ff998f;
--scheme-accent-800: #ffbbaf;
--scheme-accent-900: #ffbbaf;
--scheme-accent-1000: #ffbbaf;
--scheme-accent-1100: #ffbbaf;
--scheme-accent-1200: #ffbbaf;